#my-account .addresses-lists {
  margin-bottom: 30px; }
#my-account ul.myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 0px; }
  #my-account ul.myaccount-link-list li a {
    display: block;
    overflow: hidden;
    font: normal 14px/20px "Avenir", sans-serif;
    color: #555454;
    text-shadow: 0px 1px white;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border: none;    
    background-color: #ffffff; }
    #my-account ul.myaccount-link-list li a span {
      display: block;
      padding: 20px 15px 20px 25px;
      overflow: hidden;
      text-align: left; }
    #my-account ul.myaccount-link-list li a:hover {
      filter: none;
      background-color: #5FDD9B; }

#my-account ul.myaccount-link-list li.titulo-categoria-perfil a {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px; }
#my-account ul.myaccount-link-list li.titulo-categoria-tienda a {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; }

#my-account ul.myaccount-link-list li.titulo-categoria-tienda a,
#my-account ul.myaccount-link-list li.titulo-categoria-perfil a {
  text-shadow: none; }
  #my-account ul.myaccount-link-list li.titulo-categoria-tienda a span,
  #my-account ul.myaccount-link-list li.titulo-categoria-perfil a span {
    color: #5FDD9B;
    background-color: #464F4F;
    padding-bottom: 15px; }
    #my-account ul.myaccount-link-list li.titulo-categoria-tienda span:before,
    #my-account ul.myaccount-link-list li.titulo-categoria-perfil span:before {
      display: block;
      float: left;
      margin-right: 15px;
      margin-top: -5px; }
      #my-account ul.myaccount-link-list li.titulo-categoria-tienda span:before {
        content: url("../img/my-account/crear_tienda.png"); }
      #my-account ul.myaccount-link-list li.titulo-categoria-perfil span:before {
        content: url("../img/my-account/mi_perfil.png"); } 
        #my-account ul.myaccount-link-list li.titulo-categoria-tienda a:hover,
        #my-account ul.myaccount-link-list li.titulo-categoria-perfil a:hover {
          background-color: inherit; }
